.content{
    margin:5% 25% 0 25%}
.video{

    width: 640px;
    height: 480px;
    
    background-color: black;
    display: flex;
     justify-content: center;
    align-items: center;
   
}
.buttondiv
{  display: flex;
     justify-content: center;
    align-items: center;
}
.display {
    font-size: 4em;
    margin: 10% 0 0 25%
}
@media(max-width:640px)
{
    .content{
        margin: 0;
    }
}